---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for item in collections.all %}
  <url>
    <loc>{{ site.url }}{{ item.url }}</loc>
    <lastmod>{{ item.date | isoDate }}</lastmod>
    <changefreq>{% if item.url == "/" %}weekly{% else %}monthly{% endif %}</changefreq>
    <priority>{% if item.url == "/" %}1.0{% elif item.url | startsWith("/blog/") %}0.6{% else %}0.8{% endif %}</priority>
  </url>
{%- endfor %}
</urlset>
